<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<div class="container">

    <h1><%= title %></h1>
    <div class="row">

        <form method="post" action="/addPlayer">
            <div class="mb-3">
                <label class="form-label">Имя</label>
                <input type="text" class="form-control" placeholder="Имя" name="firstName">
            </div>
            <div class="mb-3">
                <label class="form-label">Фамилия</label>
                <input type="text" class="form-control" placeholder="Фамилия" name="lastName">
            </div>

            <select class="form-select" aria-label="Default select example" name="teamId">
                <option selected>Выбрать команду</option>
                <% for (let team of teams) { %>
                    <option value="<%=team.id%>"><%=team.name%></option>
                <% } %>
            </select>

            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>

    </div>
</div>
</body>
</html>
